@import '../../assets/colors.scss';

.heading {
	text-align: center;
	margin-bottom: 2rem;
	position: relative;
}

.heading::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 0.01rem;
	background: rgba(0, 0, 0, 0.1);
	z-index: -1;
}

.heading span {
	font-size: 3rem;
	padding: 0.5rem 2rem;
	color: $black;
	background: $white;
	border: $border;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 0.9rem 3rem;
	border-radius: 0.5rem;
	color: $white;
	background: $green;
	font-size: 1.7rem;
	cursor: pointer;
	font-weight: 500;
}

.btn:hover {
	background: $dark-color;
}

.header .header-1 {
	background: $white;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header .header-1 .logo {
	font-size: 1.5rem;
	font-weight: bolder;
	color: $black;
}

.header .header-1 .logo i {
	color: $green;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
	font-size: 1.5rem;
	margin-left: 1.5rem;
	color: $black;
	cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
	color: $green;
}

.header .header-2 {
	background: $green;
}

.header .header-2 .navbar-header {
	text-align: center;
}

.header .header-2 .navbar-header a {
	color: #fff;
	display: inline-block;
	padding: 16px;
	font-size: 20px;
}

.header .header-2 .navbar-header a:hover {
	background: $dark-color;
}

.header .header-2.active {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.bottom-navbar-header {
	text-align: center;
	background: $green;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: none;
}

.bottom-navbar-header a {
	font-size: 1.5rem;
	padding: 1.5rem;
	color: $white;
}

.bottom-navbar-header a:hover {
	background: $dark-color;
}
.sign-up {
	margin-top: 20px;
}
.sign-up p {
	font-size: 16px;
	color: $black;
	text-align: center;
}
.option-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-or {
	margin-left: 10px;
	margin-right: 10px;
}
.avatar-client {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.name-account {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}
.sign-up:hover span {
	cursor: pointer;
}
.text {
	color: $green;
}
