@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import './assets/colors.scss';
.m-0 {
	margin: 0 !important;
}
.flex-fill {
	flex: 1 1 auto !important;
}
.mt-10 {
	margin-top: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.mr-10 {
	margin-right: 10px;
}
.mbt-10 {
	margin-bottom: 10px;
}
.background-page {
	color: #fafafa;
}
html {
	overflow-x: hidden;
	scroll-padding-top: 5rem;
	scroll-behavior: smooth;
}
body {
	overflow-x: visible;
	overflow: scroll; /* Show scrollbars */
}
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
	width: 1rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: $black;
}

/* media queries  */

@media (max-width: 991px) {
	.header .header-1 {
		padding: 2rem;
	}

	section {
		padding: 3rem 2rem;
	}
}

@media (max-width: 768px) {
	html {
		scroll-padding-top: 0;
	}

	body {
		padding-bottom: 6rem;
	}

	.header .header-2 {
		display: none;
	}

	.bottom-navbar-header {
		display: block !important;
	}

	.header .header-1 {
		box-shadow: var(--box-shadow);
		position: relative;
	}
}

@media (max-width: 450px) {
}

// hot css ant desgin
.layout-content {
	flex-direction: row;
	display: flex;
}
.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo-sider {
	height: 30px;
	margin: 16px;
	font-size: 1.5rem;
	font-weight: bolder;
	color: $green;
}

.site-layout .site-layout-background {
	background: #fff;
}
.sider-layout {
}
.ant-layout-sider {
	position: relative;
	min-width: 0;
	background-color: $white !important;
	transition: all 0.2s;
}
.ant-layout {
	display: flex;
	flex: auto;
	flex-direction: column;
	height: 100vh !important;
	background-color: #f6f6f9 !important;
}
